/* -------------- */
/* PRIMEIRA SEÇÃO */
/* -------------- */
.first {
	position: relative;
	height: 460px;
	margin-top: 70px;
}

.first .assinantes {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
    z-index: 99;
	background: #FFF;
}

.assinantes div {
	width: 540px;
	height: 70px;
	display: block;
	float: none;
	margin: auto;
}

.assinantes div p, .painel {
	display: inline-block;
	float: left;
}

.assinantes div p {
	margin-top: 22px;
	color: #ff5701;
}

.painel {
	width: 150px;
	height: 34px;
	margin-left: 20px;
	margin-top: 14px;
	border: none;
	background: #ff5701;
	color: #FFF;
	transition: all 0.2s linear;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.painel:hover {
    background: #c95820;
}


/* ------------- */
/* SEGUNDA SEÇÃO */
/* ------------- */
.second {
	width: 100%;
	height: auto;
	padding: 25px 0px;
	float: left;
}

h2, h3, .H3desc, .v-desc{
    float: left;
    clear: both;
    margin-left: 10%;
    color: #ff5701;
}

h2, h3 {
    font-size: 5vmin;
}
.v-desc {
    width: 40%;
    margin: 15px 10%;
    color: #444;
}

.crossBar {
	width: 100%;
	height: 320px;
	float: left;
	background: #ff5701;
	position: relative;
}

.crossBar .vIMG {
	width: 50%;
	height: 100%;
	background: url(https://images.unsplash.com/photo-1505424297051-c3ad50b055ae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=12f2c4d1be2d45c3f4ca402468dcb340&auto=format&fit=crop&w=751&q=80) center no-repeat;
}

.crossBar .vDetails {
	width: 40%;
	height: calc(100% - 30px);
	padding: 15px 5%;
}

.crossBar .vDetails .title {
	display: block;
	float: left;
	font-size: 4vmin;
	color: #FFF;
}

.crossBar .vDetails .description {
	display: block;
	float: left;
	margin-top: 10px;
	font-size: 2.7vmin;
	color: #FFF;
}

.onLeft {
	position: absolute;
	top: 0px;
	left: 0px;
}

.onRight {
	position: absolute;
	top: 0px;
	right: 0px;
}

.sCTA {
	width: 220px;
	height: 45px;
	border: none;
	color: #FFF;
	cursor: pointer;
	background: #ff5701;
	/* Posicionamento */
	float: left;
	margin-top: 40px;
	margin-left: calc(50% - 110px);
}


/* -------------- */
/* TERCEIRA SEÇÃO */
/* -------------- */
.third {
	width: 100%;
	height: auto;
	min-height: 500px;
	float: left;
    background: #FFF;
    position: relative;
}

.heading {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 20px;
}

.H3desc {
	margin-top: 10px;
	color: #555;
}

.card-row {
	width: 80%;
	height: 300px;
	float: left;
	margin-left: 10%;
    margin-bottom: 100px;
}

.card {
	width: 30%;
	height: 320px;
	float: left;
	margin-top: 30px;
	margin-right: 5%;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	transition: margin 0.2s linear;
}

.card:hover {
	margin-top: 25px;
}

.card:nth-child(3) { 
	margin-right: 0%;
}

.preco {
	width: 100%;
	font-size: 55px;
	color: #ff5701;
	margin-top: 110px;
	text-align: center;
}

.preco span {
	font-size: 14px;
}

.up, .down {
	width: 100%;
	font-size: 14px;
	text-align: center;
}

.down {
	margin-top: 60px;
}
