/* -------------- */
/* PRIMEIRA SEÇÃO */
/* -------------- */
.first {
	position: relative;
	height: 460px;
	margin-top: 70px;
}

.first .assinantes {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
    z-index: 99;
	background: #FFF;
}

.assinantes div {
	width: 540px;
	height: 70px;
	display: block;
	float: none;
	margin: auto;
}

.assinantes div p, .painel {
	display: inline-block;
	float: left;
}

.assinantes div p {
	margin-top: 22px;
	color: #ff5701;
}

.painel {
	width: 150px;
	height: 34px;
	margin-left: 20px;
	margin-top: 14px;
	border: none;
	background: #ff5701;
	color: #FFF;
	transition: all 0.2s linear;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.painel:hover {
    background: #c95820;
}


/* ------------- */
/* SEGUNDA SEÇÃO */
/* ------------- */
.second {
	height: auto;
    background: #FFF;
    border-top: 3px solid #ff5701;
}

h2, h3, .H3desc, .v-desc{
    float: left;
    clear: both;
    margin-left: 10%;
    color: #ff5701;
}

h2, h3 {
    font-size: 5vmin;
}

.s-info {
    float: left;
    margin-top: 40px;
}

.v-desc {
    width: 40%;
    margin-top: 20px;
    color: #444;
}

.grid {
    float: left;
    width: 90%;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 50px;
}

.grid .cell {
    display: inline-block;
    float: left;
    width: 28%;
    height: 300px;
    margin-right: 2%;
    background: #FFF;
    border-top: 3px solid #ff5701;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.cell .icon {
    width: 100px;
    height: 100px;
    float: none;
    margin: 30px auto;
    background: #497853;
}

.cell .title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.cell .description {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    padding: 0px 50px;
}

.row {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.row > .cell:nth-child(3) {
    margin-right: 0px;
}


/* -------------- */
/* TERCEIRA SEÇÃO */
/* -------------- */
.third {
	width: 100%;
	height: auto;
	min-height: 500px;
	float: left;
    background: #FFF;
    position: relative;
}

.heading {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 20px;
}

.H3desc {
	margin-top: 10px;
	color: #555;
}

.card-row {
	width: 80%;
	height: 300px;
	float: left;
	margin-left: 10%;
    margin-bottom: 100px;
}

.card {
	width: 30%;
	height: 320px;
	float: left;
	margin-top: 30px;
	margin-right: 5%;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	transition: margin 0.2s linear;
}

.card:hover {
	margin-top: 25px;
}

.card:nth-child(3) {
	margin-right: 0%;
}

.preco {
	width: 100%;
	font-size: 55px;
	color: #ff5701;
	margin-top: 110px;
	text-align: center;
}

.preco span {
	font-size: 14px;
}

.up, .down {
	width: 100%;
	font-size: 14px;
	text-align: center;
}

.down {
	margin-top: 60px;
}
